In [2]:
import pandas as ps
import numpy as np
from sklearn.tree import DecisionTreeClassifier

In [3]:
data = ps.read_csv('C:\\Users\\p.kovalenko\\Documents\\Learning\\titanic.csv', index_col='PassengerId')

In [7]:
data_sorted = data[['Pclass', 'Fare', 'Age', 'Sex', 'Survived']]
data_sorted.loc[data_sorted['Sex'] != 'male', 'Sex'] = 0
data_sorted.loc[data_sorted['Sex'] == 'male', 'Sex'] = 1
print(data_sorted)

             Pclass      Fare   Age  Sex  Survived
PassengerId
1                 3    7.2500  22.0    1         0
2                 1   71.2833  38.0    0         1
3                 3    7.9250  26.0    0         1
4                 1   53.1000  35.0    0         1
5                 3    8.0500  35.0    1         0
6                 3    8.4583   NaN    1         0
7                 1   51.8625  54.0    1         0
8                 3   21.0750   2.0    1         0
9                 3   11.1333  27.0    0         1
10                2   30.0708  14.0    0         1
11                3   16.7000   4.0    0         1
12                1   26.5500  58.0    0         1
13                3    8.0500  20.0    1         0
14                3   31.2750  39.0    1         0
15                3    7.8542  14.0    0         0
16                2   16.0000  55.0    0         1
17                3   29.1250   2.0    1         0
18                2   13.0000   NaN    1         1
19                3   18.0000  31.0    0         0
20                3    7.2250   NaN    0         1
21                2   26.0000  35.0    1         0
22                2   13.0000  34.0    1         1
23                3    8.0292  15.0    0         1
24                1   35.5000  28.0    1         1
25                3   21.0750   8.0    0         0
26                3   31.3875  38.0    0         1
27                3    7.2250   NaN    1         0
28                1  263.0000  19.0    1         0
29                3    7.8792   NaN    0         1
30                3    7.8958   NaN    1         0
...             ...       ...   ...  ...       ...
862               2   11.5000  21.0    1         0
863               1   25.9292  48.0    0         1
864               3   69.5500   NaN    0         0
865               2   13.0000  24.0    1         0
866               2   13.0000  42.0    0         1
867               2   13.8583  27.0    0         1
868               1   50.4958  31.0    1         0
869               3    9.5000   NaN    1         0
870               3   11.1333   4.0    1         1
871               3    7.8958  26.0    1         0
872               1   52.5542  47.0    0         1
873               1    5.0000  33.0    1         0
874               3    9.0000  47.0    1         0
875               2   24.0000  28.0    0         1
876               3    7.2250  15.0    0         1
877               3    9.8458  20.0    1         0
878               3    7.8958  19.0    1         0
879               3    7.8958   NaN    1         0
880               1   83.1583  56.0    0         1
881               2   26.0000  25.0    0         1
882               3    7.8958  33.0    1         0
883               3   10.5167  22.0    0         0
884               2   10.5000  28.0    1         0
885               3    7.0500  25.0    1         0
886               3   29.1250  39.0    0         0
887               2   13.0000  27.0    1         0
888               1   30.0000  19.0    0         1
889               3   23.4500   NaN    0         0
890               1   30.0000  26.0    1         1
891               3    7.7500  32.0    1         0

[891 rows x 5 columns]